h1{
    font-size: 50px;
    font-weight: 500;
}
.sign-in input{
    padding:15px 15px 15px 15px;
    margin: 15px 15px 15px 15px;
}
.sign-in{
    background:white;
    width:300px;
    border-radius:6px;
    margin-top:75px;
    margin-right:75px;
    margin-left: 550px;
    padding:15px 15px 15px 15px;
    border: red 5px solid;
    color:lightcoral;
}
.sign-in a{
    font-size: 1.0em;
    text-decoration-line: none;
}
.login{
    background:white;
    width:400px;
    border-radius:6px;
    margin-top:20px;
    margin-right:75px;
    margin-left: 520px;
    border: red 5px solid;
    float: center;
    color:lightcoral;
}
.login input{
    padding:15px 15px 15px 15px;
    margin: 15px 15px 15px 15px;
}
input{
    background:#ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
    width:250px;
    color:#AAAAAA;
    margin-top:10px;
    font-size:1em;
    border-radius:5px;
}
.btn{
    border-radius: 25px;
    background:#2ecc71;;
    width:150px;
    padding-top:15px;
    padding-bottom:15px;
    color:white;
    margin-top:10px;
    margin-bottom:10px;
    font-weight:800;
    font-size:0.8em;
    text-transform: uppercase;
}

 /* Homepage */ 

 #homepage{
    background-image: url(..//img/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
 }
.button{
    border-radius: 25px;
    background:blue;
    width:150px;
    padding-top:15px;
    padding-bottom:15px;
    color:white;
    margin-top:10px;
    margin-bottom:10px;
    font-weight:800;
    font-size:0.8em;
    text-transform: uppercase;
}
.buttons{
    margin-top: 580px;
    margin-left: 380px;
}
#home-button{
    margin-right: 50px;
  }
.nav-bar{
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}
#logo{
    float: left;
    margin-left:15px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
}
li {
    float: right;
}
.nav-bar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
}
li a:hover {
    color:lightcoral;
}
#home{
    float: left;
}
body{
    color: white;
    width:100%; 
    text-align:center;
    margin: 20px 0px 20px 0px;
    background-color: black;
}
.content{
    width:300px;
    border-radius:6px;
    margin: 0 auto 0 auto;
    padding:10px 10px 10px 10px;
    float: right;
    font-size: 1.5em;
}
.content h2{
    color: lightcoral;
}
.values{
    margin-top: 150px;
}
.values h3{
    color: lightcoral;
}
.about{
    text-align:center;
}
footer{
    color:lightcoral;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  #danger:hover {
    color:red;
  }